body {
    background-color: #F5EFE6;
    margin: 0;
}

* {
    font-family: 'Nanum Myeongjo', serif;
}

#firstPage {
    display: flex;
    flex-direction: column;
}

#secondPage {
    display: flex;
    flex-direction: column;
    border: 20px solid #7895B2;
}

.header1 {
    display: flex;
    width: fit-content;
    margin: 40px auto;
    font-size: 13px;
    word-spacing: 10px;
    letter-spacing: 8.5px;
    color: #AEBDCA;
}

.header2 {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    font-size: 60px;
    color: #7895B2;
    font-family: 'Great Vibes', cursive;
    line-height: 1.2;
}

.header2-1 {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    font-size: 60px;
    color: #AEBDCA;
    font-family: 'Great Vibes', cursive;
    line-height: 1.2;
}

.header3 {
    display: flex;
    width: fit-content;
    margin: 30px auto;
    font-size: 20px;
    color: #7895B2;
}

.header4 {
    display: flex;
    width: fit-content;
    margin: 0 auto 20px auto;
    font-size: 17px;
    color: #7895B2;
}

.header5 {
    display: flex;
    width: fit-content;
    margin: 10px auto;
    font-size: 18px;
    color: #7895B2;
}

#imageDiv {
    display: flex;
    background-color: #AEBDCA;
    margin:20px 0;
}

.img {
    width: fit-content;
    margin: 0 auto;
}

.scn-header1 {
    width: fit-content;
    margin: 30px auto 10px auto;
    font-size: 20px;
    color: #7895B2;
}

.scn-header2 {
    width: fit-content;
    margin: 0 auto 25px auto;
    word-spacing: 10px;
    letter-spacing: 8.5px;
    font-size: 12px;
    color: #AEBDCA;
}

.scn-header3 {
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
    font-size: 16px;
    color: #3e5368;
    text-align: center;
    line-height: 2;
    word-break: keep-all;
}
.scn-header4 {
    width: fit-content;
    /* margin: 0 auto; */
    padding: 30px;
    font-size: 16px;
    color: #3e5368;
    /* text-align: center; */
    line-height: 2;
    word-break: keep-all;
}
.v-line {
    /* border-left: 2px solid #7895B2; */
    /* height: 50px; */
    left: 50%;
    position: relative;
    margin-top: 30px;
}
.h-line {
    border-bottom: 2px solid #7895B2;
    width: 77px;
    margin: 0 auto;
    position: relative;
}
.hidden {
    display: none;
}

.show {
    display: block;
}

#map{
    width:100%;
    height:300px;
}