body {
    background-color: #F5EFE6;
    margin: 0;
}

* {
    font-family: 'Nanum Myeongjo', serif;
}

.firstPage {
    display: flex;
    flex-direction: column;
    
}

.secondPage {
    display: flex;
    flex-direction: column;
    border: 20px solid #7895B2;
}

.header1 {
    display: flex;
    width: fit-content;
    margin: 40px auto;
    font-size: 13px;
    word-spacing: 10px;
    letter-spacing: 8.5px;
    color: #AEBDCA;
}

.header2 {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    font-size: 60px;
    color: #7895B2;
    font-family: 'Great Vibes', cursive;
    line-height: 1.2;
}

.header2-1 {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    font-size: 60px;
    color: #AEBDCA;
    font-family: 'Great Vibes', cursive;
    line-height: 1.2;
}

.header3 {
    display: flex;
    width: fit-content;
    margin: 30px auto;
    font-size: 20px;
    color: #7895B2;
}

.header4 {
    display: flex;
    width: fit-content;
    margin: 0 auto 20px auto;
    font-size: 17px;
    color: #7895B2;
    flex-direction: row;
}

.header5 {
    display: flex;
    width: fit-content;
    margin: 5px auto;
    font-size: 18px;
    color: #7895B2;
}
#imageDiv {
    display: flex;
    background-color: #AEBDCA;
    margin: 20px 0;
}

.img {
    width: fit-content;
    margin: 0 auto;
}

.scn-header1 {
    width: fit-content;
    margin: 30px auto 10px auto;
    font-size: 20px;
    color: #7895B2;
}

.scn-header2 {
    width: fit-content;
    margin: 0 auto 25px auto;
    word-spacing: 10px;
    letter-spacing: 8.5px;
    font-size: 12px;
    color: #AEBDCA;
}

.scn-header3 {
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
    font-size: 16px;
    color: #3e5368;
    text-align: center;
    line-height: 2;
    word-break: keep-all;
}

.scn-header4 {
    width: fit-content;
    /* margin: 0 auto; */
    padding: 10px 30px;
    font-size: 16px;
    color: #3e5368;
    text-align:left;
    line-height: 2;
    word-break: keep-all;
    vertical-align: middle;
}
.payment-box{
    width: fit-content;
    margin:0 auto;
}
.v-line {
    /* border-left: 2px solid #7895B2; */
    /* height: 50px; */
    left: 50%;
    position: relative;
    margin-top: 30px;
}

.h-line {
    border-bottom: 2px solid #7895B2;
    width: 77px;
    margin: 0 auto;
    position: relative;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#map {
    width: 100%;
    height: 300px;
}


@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

@-webkit-keyframes sparkle {
    from {
        background-position: 0% 100%;
    }

    to {
        background-position: 200% 100%;
    }
}

@keyframes sparkle {
    from {
        background-position: 0% 100%;
    }

    to {
        background-position: 200% 100%;
    }
}


.snip1535 {
    background-color: #7895B2;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 22px;
    line-height: 1em;
    margin: 15px auto;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

/* .snip1535:before,
.snip1535:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}

.snip1535:before {
    border-color: #7895B2;
    border-right-width: 2px;
    border-top-width: 2px;
    right: -5px;
    top: -5px;

}

.snip1535:after {
    border-bottom-width: 2px;
    border-color: #7895B2;
    border-left-width: 2px;
    bottom: -5px;
    left: -5px;
}

.snip1535:hover,
.snip1535.hover {
    background-color: #AEBDCA;
}

.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
    height: 100%;
    width: 100%;
} */

.snip1535:before {
    -webkit-animation: sparkle 4s infinite linear;
    animation: sparkle 4s infinite linear;
    background: linear-gradient(90deg, #7895B2 0%, #edf49b 11%, #f49ba8 22%, #7895B2 33%, #edf49b 44%, #f49ba8 55%, #7895B2 66%, #edf49b 77%, #f49ba8 88%, #7895B2 100%);
    background-size: 300% 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    filter: blur(4px);
    z-index: -1;
    transform: scale(0.99) translateY(3px);
}

.rsvp-btn {
    display: flex;
    width: fit-content;
    margin: 0 auto 20px auto;
}

.fading {
    animation: fading 3s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}